.about {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        width: 460px;
        height: 460px;
        margin: 100px 0;
    }
    .textsAbout {
        padding: 30px;
        margin: 150px 0;
        div {
            padding: 20px 0;
            max-width: 700px;
            text-align: left;
            h2 {
                margin-bottom: 10px;
            }
        }
    }
}

@media (max-width: 999px) {
    .about {
        flex-direction: column;
        .textsAbout {
            margin: 0;
        }
    }
}

@media (max-width: 499px) {
    .about {
        img {
            width: 295px;
            height: 295px;
            margin: 110px auto 0;
        }
    }
}