.headerContainer {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: var(--white);
    position: fixed;
    z-index: 3;
    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        .logoImage {
            width: 100px;
            height: 70px;
        }
        img {
            width: 95px;
            height: 13px;
            margin-left: 5px;
        }
    }
    ul {
        list-style: none;
        overflow: hidden;
        li {
            display: inline-block;
            a {
                padding: 10px;
                text-transform: uppercase;
                color: #808080;
                text-decoration: none;
                &:hover {
                    color: #959595;
                }
            }
        }
    }
    .sideMenu {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        height: 170px;
        background-color: var(--white);
        text-align: center;
        h2 {
            padding: 15px 0;
        }
        a {
            display: block;
            font-size: 16px;
            padding-bottom: 12px;
            color: var(--gray-200);
            text-decoration: none;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .closeIcon {
        width: 22px;
        height: 30px;
        cursor: pointer;
        position: absolute;
        right: 7%;
        .line1,
        .line2,
        .line3 {
            width: 100%;
            height: 2px;
            background-color: black;
            margin-top: 4px;
        }
        .line1 {
            transform: rotate(45deg) translate(-1px, 7px);
            transition: all 0.2s ease-out;
        }
        .line2 {
            display: none;
        }
        .line3 {
            transform: rotate(-45deg) translate(-3px, -6px);
            transition: all 0.2s ease-out;
        }
    }
}

@media (max-width: 768px) {
    .headerContainer {
        ul {
            display: none;
        }
        .menuIcon {
            width: 22px;
            height: 30px;
            cursor: pointer;
            position: absolute;
            right: 8%;
            .line1,
            .line2,
            .line3 {
                width: 100%;
                height: 2px;
                background-color: black;
                margin-top: 4px;
                transition: all 0.2s ease-out;
            }
        }
    }
}