.headerContainer {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    background-color: var(--white);
    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        .logoImage {
            width: 100px;
            height: 70px;
        }
        img {
            width: 95px;
            height: 13px;
            margin-left: 5px;
        }
    }
    .buttonsNavigation {
        display: flex;
        justify-content: space-between;
        button {
            background: transparent;
            border: none;
            outline: none;
            padding: 10px;
            color: #808080;
            text-transform: uppercase;
            &:last-child {
                font: 700 1rem 'Open Sans', sans-serif;
                letter-spacing: normal;
                line-height: normal;
            }
            &:hover {
                color: var(--gray-800);
            }
        }
    }
}

@media (max-width: 768px) {
    .headerContainer {
        .buttonsNavigation {
            button {
                &:last-child {
                    display: none;
                }
            }
        }
    }
}